<div class="container">
	<div class="row section display-table center-text width-100p">
		<div class="display-table-cell vertical-center">
			<h2>sharing music should be easy.</h2>
			<p>that's why <a href="#team" data-goto="team" class="team-link">UT Austin students</a> use an app to make sharing music seamless.</p>
		</div>
  </div>

  <!-- Mobile -->
  <div class="hide-gt-tablet">
    <div class="row section">
      <h3>search</h3>
      <p>search for music across Spotify, SoundCloud, and YouTube. search for friends who are also on ellomix.</p>
      <div class="center-text pt5">
        <img src="img/search.png" alt="search" class="polaroid">
      </div>
    </div>
    <div class="row section pt5">
      <h3>post</h3>
      <p>post tracks on your timeline to put your followers on.</p>
      <div class="center-text pt5">
        <img src="img/post.png" alt="post" class="polaroid">
      </div>
    </div>
    <div class="row section pt5">
      <h3>message</h3>
      <p>message songs privately to an individual or group.</p>
      <div class="center-text pt5">
        <img src="img/message.png" alt="message" class="polaroid">
      </div>
    </div>
    <div class="row section pt5 pb4">
      <h3>create</h3>
      <p>create individual and collaborative playlists.</p>
      <div class="center-text pt5">
        <img src="img/create.png" alt="create" class="polaroid">
      </div>
    </div>
  </div>

  <!-- Desktop -->
  <div class="hide-lt-tablet">
    <div class="row section">
    	<div class="one-half column pt6">
    		<h3>search</h3>
    		<p>search for music across Spotify, SoundCloud, and YouTube. search for friends who are also on ellomix.</p>
    	</div>
    	<div class="one-half column">
        <img src="img/search.png" alt="search" class="polaroid">
    	</div>
    </div>
    <div class="row section">
    	<div class="one-half column pr3">
        <img src="img/post.png" alt="post" class="polaroid">
    	</div>
    	<div class="one-half column pt6">
    		<h3>post</h3>
    		<p>post tracks on your timeline to put your followers on.</p>
    	</div>
    </div>
    <div class="row section">
    	<div class="one-half column pt6">
    		<h3>message</h3>
    		<p>message songs privately to an individual or group.</p>
    	</div>
    	<div class="one-half column">
        <img src="img/message.png" alt="message" class="polaroid">
    	</div>
    </div>
    <div class="row section">
    	<div class="one-half column pr3">
        <img src="img/create.png" alt="create" class="polaroid">
    	</div>
    	<div class="one-half column pt6">
    		<h3>create</h3>
    		<p>create individual and collaborative playlists.</p>
    	</div>
    </div>
  </div>
</div>