<div class="container">

	<!-- Mobile -->
	<div class="hide-gt-tablet">
		<div class="row center-text px3">
			<iframe src="https://www.youtube.com/embed/6iqxT9V8H34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="pb5 px3">
			{{#row 6 6}}
	        	<div class="row center-text">
	        		{{#each columns}}
		        		<img src="img/events/alchemy-2022/{{this}}.jpg" alt="alchemy-2022-{{this}}" class="width-100p pt3">
	        		{{/each}}
	        	</div>
	    	{{/row}}
    	</div>
	</div>

	<!-- Desktop -->
	<div class="hide-lt-tablet">
		<div class="row center-text pt4">
			<iframe src="https://www.youtube.com/embed/6iqxT9V8H34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="pb4">
			{{#row 6 6}}
	        	<div class="row center-text">
	        		{{#each columns}}
		        		<img src="img/events/alchemy-2022/{{this}}.jpg" alt="alchemy-2022-{{this}}" class="width-100p pt4">
	        		{{/each}}
	        	</div>
	    	{{/row}}
    	</div>
	</div>

</div>