<div class="container">

	<!-- Mobile -->
	<div class="hide-gt-tablet">
		<div class="row center-text px3">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/twLqqhokYAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		<div class="pb5 px3">
			{{#row 20 1}}
	        	<div class="row center-text">
	        		{{#each columns}}
		        		<img src="img/events/alchemy-2023-laurel-house/{{this}}.jpg" alt="alchemy-2023-laurel-house-{{this}}" class="width-100p pt3">
	        		{{/each}}
	        	</div>
	    	{{/row}}
    	</div>
	</div>

	<!-- Desktop -->
	<div class="hide-lt-tablet">
		<div class="row center-text pt4">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/twLqqhokYAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		<div class="pb4">
			{{#row 20 2}}
	        	<div class="row center-text">
	        		{{#each columns}}
	        			<div class="one-half column">
		        			<img src="img/events/alchemy-2023-laurel-house/{{this}}.jpg" alt="alchemy-2023-laurel-house-{{this}}" class="width-100p pt4">
		        		</div>
	        		{{/each}}
	        	</div>
	    	{{/row}}
    	</div>
	</div>

</div>