<div class="container">

	<!-- Mobile -->
	<div class="hide-gt-tablet">
		<div class="row center-text">
			<div class="pt4">
				<a href="#alchemy-2022-hoc" data-goto="alchemy-2022-hoc">
					<img src="img/alchemy22_hoc.png" alt="alchemy-2022-hoc" class="team-member">
				</a>
			</div>
			<div class="pt4">
				<a href="#alchemy-2023-laurel-house" data-goto="alchemy-2023-laurel-house">
					<img src="img/alchemy23_laurel_house.png" alt="alchemy-2023-laurel-house" class="team-member">
				</a>
			</div>
			<div class="pt4 pb5">
				<a href="#alchemy-2023-hoc" data-goto="alchemy-2023-hoc">
					<img src="img/alchemy23_hoc.png" alt="alchemy-2.0-hoc" class="team-member">
				</a>
			</div>
		</div>
	</div>

	<!-- Desktop -->
	<div class="hide-lt-tablet">
		<div class="row section display-table center-text width-100p">
			<div class="display-table-cell vertical-center">
				<a href="#alchemy-2022-hoc" data-goto="alchemy-2022-hoc">
					<img src="img/alchemy22_hoc.png" alt="alchemy-2022-hoc" class="team-member">
				</a>
			</div>
			<div class="display-table-cell vertical-center">
				<a href="#alchemy-2023-laurel-house" data-goto="alchemy-2023-laurel-house">
					<img src="img/alchemy23_laurel_house.png" alt="alchemy-2023-laurel-house" class="team-member">
				</a>
			</div>
			<div class="display-table-cell vertical-center">
				<a href="#alchemy-2023-hoc" data-goto="alchemy-2023-hoc">
					<img src="img/alchemy23_hoc.png" alt="alchemy-2.0-hoc" class="team-member">
				</a>
			</div>
		</div>
	</div>
</div>