<div class="container">

	<!-- Mobile -->
	<div class="hide-gt-tablet">
		<div class="row center-text">
			<div class="pt4">
				<a href="#alchemy-2022" data-goto="alchemy-2022">
					<img src="img/alchemy22.png" alt="alchemy-2022" class="team-member">
				</a>
			</div>
		</div>
	</div>

	<!-- Desktop -->
	<div class="hide-lt-tablet">
		<div class="row section display-table center-text width-100p">
			<div class="display-table-cell vertical-center">
				<a href="#alchemy-2022" data-goto="alchemy-2022">
					<img src="img/alchemy22.png" alt="alchemy-2022" class="team-member">
				</a>
			</div>
		</div>
	</div>
</div>