<div class="container center center-text">
  <h2>music. social.</h2>
  <form id="email-form" action="https://Ellomix.us15.list-manage.com/subscribe/post" method="post">
      <input type="hidden" name="u" value="cfbd431106e0dfdc815808a0d">
      <input type="hidden" name="id" value="b71aec0881">
      <input type="email" class="email-input center-text" placeholder="enter email" name="MERGE0" id="MERGE0" autocomplete="off" autofocus>
  </form>
</div>