<div class="container center center-text">
  <h2>music. social.</h2>
  <form id="email-form" action="https://Ellomix.us15.list-manage.com/subscribe/post" method="post">
      <input type="hidden" name="u" value="cfbd431106e0dfdc815808a0d">
      <input type="hidden" name="id" value="b71aec0881">
      <a href="https://apps.apple.com/us/app/ellomix/id1639475775" target="_blank">
		<img src="img/app_store.svg" alt="download app" width="200px">
      </a>
  </form>
</div>