<div class="container">
	<!-- Mobile -->
	<div class="hide-gt-tablet">
		<div class="row pt3 pb2 center-text">
			<div class="team-member">
				<a href="https://www.twitter.com/prodkev" target="_blank">
					<img src="img/kev.png" alt="kev" class="member-img">
				</a>
			</div>
		</div>
		<div class="row py2 center-text">
			<div class="team-member">
				<a href="https://www.instagram.com/domingo_alliniece" target="_blank">
					<img src="img/neil.png" alt="neil" class="member-img">
				</a>
			</div>
		</div>
	  <div class="row pt2 pb5 center-text">
			<div class="team-member">
	 			<a href="https://twitter.com/stevenvill_" target="_blank">
					<img src="img/stev.png" alt="stev" class="member-img">
				</a>
			</div>
		</div>
	</div>

		<!-- Desktop -->
	<div class="hide-lt-tablet">
		<div class="row pt3 pb2 left-text">
			<div class="team-member">
				<img src="img/kev.png" alt="kev" class="member-img">
				<div class="overlay">
					<div class="row center">
						<a href="https://www.twitter.com/prodkev" target="_blank">
							<img src="img/twitter.png" alt="twitter" width="25px" height="25px" class="px1">
						</a>
						<a href="https://www.instagram.com/prodkev" target="_blank">
							<img src="img/instagram.png" alt="instagram" width="25px" height="25px" class="px1">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row py2 center-text">
			<div class="team-member">
				<img src="img/neil.png" alt="neil" class="member-img">
				<div class="overlay">
					<div class="row center">
						<a href="https://twitter.com/Ellomixmusic" target="_blank">
							<img src="img/twitter.png" alt="twitter" width="25px" height="25px" class="px1">
						</a>
						<a href="https://www.instagram.com/domingo_alliniece" target="_blank">
							<img src="img/instagram.png" alt="instagram" width="25px" height="25px" class="px1">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row py2 right-text">
	  	<div class="team-member">
				<img src="img/stev.png" alt="stev" class="member-img">
				<div class="overlay">
					<div class="row center">
						<a href="https://twitter.com/stevenvill_" target="_blank">
							<img src="img/twitter.png" alt="twitter" width="25px" height="25px" class="px1">
						</a>
						<a href="https://www.instagram.com/steven.vill" target="_blank">
							<img src="img/instagram.png" alt="instagram" width="25px" height="25px" class="px1">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>