<div class="container">

	<!-- Mobile -->
	<div class="hide-gt-tablet">
		<div class="row center-text">
			<div class="pt2">
				<a href="https://www.instagram.com/prodkev" target="_blank">
					<img src="img/kev.png" alt="kev" class="team-member">
				</a>
			</div>
			<div class="pt4">
				<a href="https://www.instagram.com/domingo_alliniece" target="_blank">
					<img src="img/neil.png" alt="neil" class="team-member">
				</a>
			</div>
			<div class="pt4 pb5">
				<a href="https://www.instagram.com/steven.vill" target="_blank">
					<img src="img/stev.png" alt="stev" class="team-member">
				</a>
			</div>
		</div>
	</div>

	<!-- Desktop -->
	<div class="hide-lt-tablet">
		<div class="row section display-table center-text width-100p">
			<div class="display-table-cell vertical-center">
				<div class="one-third column">
					<a href="https://www.instagram.com/prodkev" target="_blank">
						<img src="img/kev.png" alt="kev" class="team-member">
					</a>
				</div>
				<div class="one-third column">
					<a href="https://www.instagram.com/domingo_alliniece" target="_blank">
						<img src="img/neil.png" alt="neil" class="team-member">
					</a>
				</div>
				<div class="one-third column">
					<a href="https://www.instagram.com/steven.vill" target="_blank">
						<img src="img/stev.png" alt="stev" class="team-member">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>